/* ==========================================================================
Styles for ProgressBar component
========================================================================== */

// import mixin and variables
@import '../../../assets/styles/helper/function',
  '../../../assets/styles/helper/mixin',
  '../../../assets/styles/project/init/variables';

// Start styles ProgressBar component
.o-progress-bar {
  padding: 0;
  height: 12px;
  overflow: hidden;
  background: #f8f7f7;
  border-radius: 6px;
  border: 1px solid #dadada;
  .bar {
    position: relative;
    float: left;
    min-width: 1%;
    height: 100%;
    background: color(blue,150);
    border-radius: 8px;
  }
}
