/* ==========================================================================
   DEFAULT
   ========================================================================== */
html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

body {
    font-family: $ff-main;
    font-weight: fw(reguler);
    font-size: fz(body);
    line-height: lh(body);
    color: color(black);
    letter-spacing: normal;
    &.bg-black{
        background-color: color(black);
    }
    &.bg-grey25{
        background-color: color(grey, 25);
    }
    &.bg-white{
        background-color: color(white);
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: fw(bold);
}
  
img {
    max-width: 100%;
}
  
a:active {
    @include remove-tap-highlight;
}