/* ==========================================================================
   FONTS
   ========================================================================== */

// Poppins-Regular

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/poppins-regular.eot');
  src: url('/assets/fonts/poppins-regular.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/poppins-regular.woff2') format('woff2'),
    url('/assets/fonts/poppins-regular.woff') format('woff'),
    url('/assets/fonts/poppins-regular.ttf') format('truetype'),
    url('/assets/fonts/poppins-regular.svg#poppins-regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/poppins-bold.eot');
  src: url('/assets/fonts/poppins-bold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/poppins-bold.woff2') format('woff2'),
    url('/assets/fonts/poppins-bold.woff') format('woff'),
    url('/assets/fonts/poppins-bold.ttf') format('truetype'),
    url('/assets/fonts/poppins-bold.svg#poppins-bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/poppins-light.eot');
  src: url('/assets/fonts/poppins-light.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/poppins-light.woff2') format('woff2'),
    url('/assets/fonts/poppins-light.woff') format('woff'),
    url('/assets/fonts/poppins-light.ttf') format('truetype'),
    url('/assets/fonts/poppins-light.svg#poppins-light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/poppins-black.eot');
  src: url('/assets/fonts/poppins-black.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/poppins-black.woff2') format('woff2'),
    url('/assets/fonts/poppins-black.woff') format('woff'),
    url('/assets/fonts/poppins-black.ttf') format('truetype'),
    url('/assets/fonts/poppins-black.svg#poppins-black') format('svg');
  font-weight: 400;
  font-style: normal;
}

// Avenir Next
@font-face {
  font-family: 'Avenir Next' !important;
  src: url('/assets/fonts/AvenirNextLTPro-Regular.otf') format('otf') !important;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('/assets/fonts/AvenirNextLTPro-Regular.otf') format('otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('/assets/fonts/AvenirNextLTPro-Regular.otf') format('otf');
  font-weight: 500;
  font-style: normal;
}
