// Shadow Variable

$shadow-on-white: 4px 8px 32px 0 rgba(32, 32, 35, 0.08);
$shadow-on-gray: 4px 4px 8px 0 rgba(32, 32, 35, 0.05);
$shadow-on-white-card: 0 2px 4px 0 rgba(32, 32, 35, 0.25);
$shadow-on-hover: 0 0 32px 0 rgba(32, 32, 35, 0.26);